.image2{
  background: rgba(0, 0, 0, 0.7)url(https://media.istockphoto.com/id/604029740/photo/fresh-vegetables-border-on-white-wood-background-with-copy-space.jpg?s=612x612&w=0&k=20&c=0zFNbMMcYnqx4U1KixTUxDRSFsQYQ1KJDp4k4MWErCw=);
  background-size:cover;
  justify-content:center;
  background-repeat:no-repeat;
  background-blend-mode:darken;
}

.auth-form-container1 {
  display: flex;
  justify-content: right ;
  align-items: center;
  height: 100vh;
  width: 150vh;

}

/* ::before {
 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
} */
.title1{
  font-size: 30px;
  color:white 
  
}
.Signup.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  height: 50vh;
  opacity: 80%;
  color:white

  
   
}

.Signup.form1 h2 {
  margin-top: 0;
}

.Signup.form1 label {
  display: block;
  margin-bottom: 5px;
}

.Signup.form1 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Signup.form1 button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.Signup.form1 button[type="submit"]:hover {
  background-color: #0069d9;
}

.login {
  margin-top: 10px;
  font-size: 14px;
}

.login a {
  color:aqua;
  text-decoration: none;
  font-size: 16x;
}

.login a:hover {
  text-decoration: underline;
}
